[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.harper-ls.config.harper-ls]
dialect = "British"

[[language]]
name = "markdown"
language-servers = ["marksman", "harper-ls"]
